@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* Light red to dark red vertical gradient */
  background: linear-gradient(to bottom, #ffebee 0%, #ef5350 50%, #b71c1c 100%);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
